<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>aka</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginSer</display-name>
    <servlet-name>loginSer</servlet-name>
    <servlet-class>servlets.loginSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginSer</servlet-name>
    <url-pattern>/loginSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutSer</display-name>
    <servlet-name>logoutSer</servlet-name>
    <servlet-class>servlets.logoutSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutSer</servlet-name>
    <url-pattern>/logoutSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAcc</display-name>
    <servlet-name>CreateAcc</servlet-name>
    <servlet-class>servlets.CreateAcc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAcc</servlet-name>
    <url-pattern>/CreateAcc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>submitQuestion</display-name>
    <servlet-name>submitQuestion</servlet-name>
    <servlet-class>servlets.submitQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submitQuestion</servlet-name>
    <url-pattern>/submitQuestion</url-pattern>
  </servlet-mapping>
</web-app>